APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:NRKG6t351x9doSB/oGvQOK5Oh33fASnn2F0+dXYw614=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=coursepulsedb
DB_USERNAME=postgres
DB_PASSWORD=ybrbnf12

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

FILESYSTEM_DRIVER=s3
AWS_ACCESS_KEY_ID=ea4fe867d31646c3946354a8faef75b8
AWS_SECRET_ACCESS_KEY=75a222f132c84a5591c442f18e004401
AWS_DEFAULT_REGION=ru-1
AWS_BUCKET=course-pulse
AWS_URL=https://s3.storage.selcloud.ru

VITE_APP_NAME="${APP_NAME}"

JWT_SECRET=IDl5UUeCNZGj96kRilH4V3x87AqCsymAjl3AFxHMmlWLNj95DI1JfMJW29486XUg
